footer{
    display: grid;
    grid-template-columns: repeat(3 , 33%);
    background-color: #F2F2F2;
    margin-top: 70px;
}

footer div{
    padding: 50px 200px 50px 50px;
}
footer h2{
    padding-bottom: 10%;
}
footer li{
    list-style: none;
    padding-bottom: 10px;
}