header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 40px 50px;
}

/*#logo{
    left: 0px;
}*/

.navigation{
    display: flex;
    align-items: baseline;
}
.navigation h3{
    order: 3;
    font-size: 1.1em;
    font-weight: 600;
    color: #0065FC;
}

.navigation{
    font-size: 1.1em;
    font-weight: 600;
}

nav li{
    display: inline;
    color: #0065FC;
    padding: 39px 20px 0 20px;
}

nav li:hover{
    border-top: 1px solid #0065FC;
    color: #0065FC;
}

/*nav{
    font-size: 1.1em;
    font-weight: 600;
}*/

nav{
    font-size: 1.1em;
}

nav a:hover{
    color: #0065FC;
}