

/*---------------Section recherche--------------------------*/

#mid{
    display: grid;
    grid-template-columns: calc(70% - 50px) 50px 30%;
    margin: 50px;

}

i.fa-map-marker-alt{
    background-color: #f2f2f2;
    padding: 9px 14px;
    border-radius: 10px 0 0 10px;
}


#sectionrecherche{
    height: 200px;
}

#recherche{
    height: 50px;
    border: none;
    border-top: 1px solid #F2F2F2;
    border-bottom: 1px solid #F2F2F2;
    padding-left: 10px;
}
#boutreche{
    width: 133px;
    height: 50px;
    background-color: #0065FC;
    color: #f2f2f2;
    border: none;
    border-radius: 0 10px 10px 0;
}

#boutonfil button{
    margin-left: 50px;
    float: left;
    width: auto;
    height: 50px;
    background-color: white;
    border: 2px solid #F2F2F2;
    border-radius: 20px;
    display: flex;
    justify-content: center;

}
#filtres h2{
    float: left;
    height: 50px;
    padding: 10px;
}

#boutonfil i{
    grid-column: 1;
    padding: 15px;
    background-color: #deebff;
    color: #0065FC;
    border-radius: 10px 0 0 10px;
}
#boutonfil h2{
    grid-column: 2;
    padding: 10px;
}


/*-----------------------------Section Hebergement------------------------------------*/

/*#temp{
    background-image: url("images/hebergements/4_small/febrian-zakaria-sjvU0THccQA-unsplash.jpg");
    width: 100%;
    height: 300px;
    background-size: 100% auto;
    background-position: center center;
    grid-row: 1 / 4;

}*/

#container{
    grid-column: 1 / 2;
    background-color: #F2F2F2;
    border: 2px;
    border-radius: 20px;
    padding: 2em 0 2em 50px;
    padding-left: 50px;
}
#container h2{
    padding-top: 50px
}


.hebergement{
    display: grid;
    grid-template-columns: repeat(3 , calc(33% - 20px));/*TODO*/
    grid-template-rows: repeat(2 , 1fr);
    grid-gap: 20px;
    padding-top: 25px;

}

.squareheber{
    background-color: white;
    height: 200px;
    width: 100%;
    border-radius: 20px;
    padding: 5px;
}
.squareheber h3{
    font-size: 0.9em;
    font-weight: 700;
    margin: 5px;
}
.squareheber p{
    font-size: 0.8em;
    font-weight: 600;
    margin: 7px;
}

.squareheber .img{
    width: 100%;
    height: 115px;
    object-fit: cover;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.squareheber .item-1{
    grid-column: 1;    
}
.squareheber .item-2{
    grid-column: 2 ;
}
.squareheber .item-3{
    grid-column: 3;
}
.squareheber .item-4{
    grid-column: 1;
    grid-row-end: 2;
}
.squareheber .item-5{
    grid-column: 2;
    grid-row: 2;
}
.squareheber .item-6{
    grid-column: 3;
    grid-row: 2;
}


#populaires{
    grid-column: 3 / 4;
    background-color: #f2f2f2;
    border: 2px;
    border-radius: 20px;
    padding: 2em;
    padding-left: 3em;
}

.pop{
    display: grid;
    grid-template-rows: repeat(3 , 1fr);
    grid-gap: 20px;
    height: 20%;
}

.poptitle {
    display: grid;
    grid-template-columns: 1fr 24px;
    padding-bottom: 25px;
}

.fa-chart-line{
    font-weight: 800;
    font-size: 1.5em;
    color: black;
    grid-column: 3;

}

.squarepop{
    width: 100%;
    height: 140px;
    display: grid;
    grid-template-columns: repeat(2 , 1fr);
    grid-template-rows: repeat(3 , 1fr);
    background-color: white;
    border-radius: 20px;
    padding: 5px;
}

.squarepop  h3{
    grid-column: 2;
    grid-row: 1;
}
.squarepop  h4{
    grid-column: 2;
    grid-row: 2;
}

.squarepop img{
    grid-row: 1 / 4;
    width: 100%;
    height: 140px;
    object-fit: cover;
    border-radius: 20px 0 0 20px;
}

.pop .item-2{
    grid-row: 2;
}
.pop .item-3{
    grid-row: 3;
}

.etoiles{
    color: #0065fc;
    font-size: 0.8em;
    margin: 7px;
}
.squarepop .etoiles{
    grid-row: 3;
    padding-top: 20px;
}
.etoiles .last{
    color: #f2f2f2;
}

