@media only screen and (max-width : 800px){
    body{
        margin: 0;
    }

    header{
        margin: 0;
        display: block;
    }
    header ul{
        display: flex;
        flex-wrap: wrap;
    }

    #logo{
        position: absolute;
        top: 25px;
        left: 7%;
    }

    .navigation h3{
        margin-top: 35px;
        text-align: end;

    }
    
    .navigation li{
        border-bottom: 3px solid #f2f2f2;
        flex: 1;
        text-align: center;
    }
    .navigation li:hover{
        border-top: none;
        border-bottom: 3px solid #0065fc;
    }

    
    .navigation{
        display: block;
    }

    #sectionrecherche{
        margin: 0;
        padding: 0 20px;
    }

    #boutrechemob{
        display: block;
        background-color: #0065fc;
        border: none;
        color: white;
        height: 51px;
        width: 50px;
        font-size: 1.1em;
        font-weight: 600;
        border-radius: 15px;
    }

    #boutreche{
        display: none;
    }

    .fa-map-marker-alt{
        padding: 17px 19px !important;
        font-size: 1.1em !important;
    }

    #filtres{
        flex-wrap: wrap;
    }

    #boutonfil button{
        margin: 5px 10px 5px 0;
    }


    /*--------------Section Mid----------*/

    #mid{
        grid-template-columns: 100%;
        grid-template-rows: 650px 3fr;
        margin: 0;
        margin-top: 20px;
        gap: 10px;
    }

    #container{
        grid-row: 2;
        grid-column: 1;
        background-color: white;
        padding: 20px;
    }
    #populaires{
        grid-row: 1;
        grid-column: 1;
        padding: 1em;
        padding-top: 2em;
        border-radius: 0;
    }

    .squarepop{
        width: 95%;
        grid-template-columns: 130px;
    }
    
    .squareheber{
        width: 90%;
    }

    .hebergement{
        grid-template-columns: 100%;
        grid-template-rows: repeat(6 , 1fr);        
    }


    #activites{
        margin: 20px;
    }


    #activitescontainer{
        grid-template-columns: 100%;
        grid-template-rows: repeat(6 , 1fr);
    }

    .squareacti img{
        height: 130px !important;
    }

    .squareacti{
        margin: 10px 0 10px 0;
    }

    .squareacti h3{
        padding: 15px;
        margin: 0;
    }

    #activitescontainer .item-1{
        grid-row: 1;
    }
    #activitescontainer .item-2{
        grid-column: 1;
        grid-row: 2;
    }
    #activitescontainer .item-3{
        grid-column: 1;
        grid-row: 3;
    }
    #activitescontainer .item-4{
        grid-column: 1;
        grid-row: 4;
    }
    #activitescontainer .item-5{
        grid-column: 1;
        grid-row: 5;
    }
    #activitescontainer .item-6{
        grid-column: 1;
        grid-row: 6;
    }




    footer{
        display: grid;
        grid-template-rows: repeat(3 , 1fr);
        grid-template-columns: 100%;
    }

    footer div{
        padding: 20px 50px 20px 20px;
    }

    footer div:nth-child(2){
        grid-row: 2;
    }
    footer div:nth-child(3){
        grid-row: 3;
    }
}
/*-------------Tablet------------*/
@media only screen and (min-width : 768px) and (max-width : 1450px) {
    #mid{
        grid-template-columns: 100%;
    }
    #container{
        grid-row: 2;
        grid-column: 1;
    }
    #populaires{
        grid-row: 1;
        grid-column: 1;
    }

    .pop{
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
    }
    .squarepop{
        width: 350px;
    }
}